@model AppSyndication.AccountService.Web.Models.RequestPasswordUpdate
@{
    ViewBag.Title = "Reset Password";
    ViewBag.Subtitle = "Where should we send the password reset?";
}

<div class="row mt25">
    <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
        <form role="form" method="post">
            @Html.AntiForgeryToken()

            <fieldset>
                <legend>@ViewBag.Title</legend>
                <p class="sublegend">@ViewBag.Subtitle</p>

                <div error-summary="@ViewData.ModelState"></div>

                @Html.EditorForModel()

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
